<div class="container">
  <div class="section">
    <label for="host-code">Share this code with your friends to join your game:</label>
    <div class="host-code-field">
      <input id="host-code" disabled />
      <button id="copy-host-code" disabled>Copy</button>
    </div>
  </div>

  <div class="section">
    <label for="answer-code">When your friend connects to you, he will get answer code. Please provide this code:</label>
    <input id="answer-code" placeholder="Enter your friend's code" />
  </div>

  <button id="connect-host" disabled>Connect</button>
</div>

