@import '../../styles/common.css';

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: stretch;
  justify-content: center;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: stretch;
  justify-content: center;
}

.host-code-field {
  display: flex;
  gap: 1rem;

  & #host-code {
    flex: 1;
  }
}
